<html>
    <head>
        <title>Форма</title>
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="/static/js/scripts.js"></script>
    </head>
    <body>
        <h1 class='title'>Добавить пользователя</h1>
        <div class='form'>
            <div>
                <label class='label'>Имя</label>
                <input class='input' type="text" name="name" id="name">
            </div>
            <div>
                <label class='label'>Фамилия</label>
                <input class='input' type="text" name="surname" id="surname">
            </div>
            <div>
                <label class='label'>Адрес</label>
                <input class='input' type="text" name="address" id="address">
            </div>
            <div>
                <label class='label'>Логин</label>
                <input class='input' type="text" name="login" id="login">
            </div>
        </div>
        <div class='button-container'>
            <button class='button' onclick="addClick()">Сохранить</button>
        </div>
    </body>
</html>