<html>
    <head>
        <title>Админ-панель</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body> 
        <h1 class='title'>Администрирование</h1>
        <div>
            <a class='link' href="/admin/adduser">Добавить пользователя</a>
            <a class='link' href="/admin/userlist">Посмотреть показания по пользователям</a>
            <a class='link' href="/admin/statistics">Посмотреть статистику потребления воды</a>
        </div>
    </body>
</html>