<html>
  <head>
      <title>Установка пароля</title>
      <link rel="stylesheet" href="/static/css/style.css">
      <script src="/static/js/scripts.js"></script>
  </head>
  <body>
    <h1 class='title'>Укажите новый пароль</h1>
    <div class='form'>
      <div>
        <label class='label'>Пароль</label>
        <input class='input' type="password" name="password" id="password" /> <br />
      </div>
    </div>
    <div class='button-container'>
      <button class='button' onclick="passClick()">Войти</button>
    </div>
  </body>
</html>