<html>
  <head>
      <title>Вход</title>
      <link rel="stylesheet" href="/static/css/style.css">
      <script src="/static/js/scripts.js"></script>
  </head>
  <body>
    <h1 class='title'>Вход в систему</h1>
    <div class='form'>
      <div class='form-log'>
        <label class='label'>Логин</label>
        <input class='input' type="text" name="login" id="login" />
        <br />
      </div>
      <div class='form-pass'>
        <label class='label'>Пароль</label>
        <input class='input' type="password" name="password" id="password" /><br />
      </div>
    </div>
    <div class='button-container'>
      <button class='button' onclick="loginClick()">Войти</button>
    </div>
  </body>
</html>
