{{define "readings"}}
<html>
  <head>
      <title>Показания</title>
      <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <h1 class='title'>Показания пользователя</h1>
    <div class="table-container">
      <table class='table'>
        <tr>
          <th>Месяц</th>
          <th>Показание счетчика</th>
          <th>Тариф(вода)</th>
        </tr>
        {{range .}}
        <tr>
          <td>{{.Month}}</td>
          <td>{{.Quantity}}</td>
          <td>{{.Water}}</td>
        </tr>
        {{end}}
      </table>
    </div>
  </body>
</html>
{{ end }}