<html>
    <title>Форма</title>
    <script type="text/javascript">
        function addRClick() {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4) {
              if (this.status == 200) {
                if (xhttp.responseText == "good") {
                    alert("Показание успешно сохранено");
                } else if (xhttp.responseText == "bad") {
                    alert("Такое показание уже существует в системе");
                }
              } else {
                alert("bitch lasagna!");
              }
            }
          };
          xhttp.open("POST", "/user/userform", true);
          xhttp.setRequestHeader("Content-type", "application/json");
          xhttp.send(
            JSON.stringify({
                month: document.getElementById("month").value,
                quantity: document.getElementById("quantity").value,
                water: document.getElementById("water").value
            })
          );
        }
    </script>
    <body> Прием показаний счетчиков
        <div>
            <div>
                <label>Месяц</label>
                <input type="text" name="month" id="month">
                <br>
            </div>
            <div>
                <label>Показание счетчика</label>
                <input type="text" name="quantity" id="quantity">
                <br>
            </div>
            <div>
                <label>Тариф(горячая или холодная вода)</label>
                <input type="text" name="water" id="water" value="hot||cold">
                <br>
                </div>
            <div>
                <button onclick="addRClick()">Сохранить</button>
            </div>
        </div>
    </body>
</html>